<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gatheringplatform.mapper.BoardMapper">
    <insert id="insertBoard" parameterType="Board">
        INSERT INTO board
            (author,category,title,thumbnail,content,created_at,start_at,finish_at,frequency,numOfPeople,place,fee,min_age,max_age)
            values(#{author},#{category},#{title},#{thumbnail},#{content},now(),#{start_at},#{finish_at},#{frequency},#{numOfPeople},#{place},#{fee},#{min_age},#{max_age})
    </insert>
    <select id="getBoardList" parameterType="java.util.HashMap" resultType="Board">
        SELECT id,
               author,
               category,
               title,
               thumbnail,
               content,
               created_at
        FROM board
        WHERE is_deleted = false
        AND category = #{category}
        LIMIT #{startIndex}, 10
    </select>
    <select id="countBoardByCategory" parameterType="string" resultType="_int">
        SELECT COUNT(id)
        FROM board
        WHERE is_deleted=false
        AND category = #{category}
    </select>
</mapper>