<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gatheringplatform.mapper.ReplyMapper">
    <select id="getReplies" resultType="Reply" parameterType="java.util.HashMap">
        SELECT id,
               post_id,
               parent_id,
               content,
               author,
               created_at,
               is_deleted
        FROM post_reply
        WHERE is_deleted = false
        AND post_id = #{post_id}
        ORDER BY parent_id
        LIMIT #{startIndex}, 5
    </select>
    <select id="getReply" resultType="Reply" parameterType="long">
        SELECT id,
               post_id,
               parent_id,
               content,
               author,
               created_at,
               is_deleted
        FROM post_reply
        WHERE id = #{id}
    </select>
    <select id="countReplyByPost" parameterType="long" resultType="long">
        SELECT COUNT(*)
        FROM post_reply
        WHERE post_id = #{post_id}
    </select>
    <select id="getAuthor" resultType="string" parameterType="long">
        SELECT author
        FROM post_reply
        WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="Reply">
        INSERT INTO post_reply(id, post_id, parent_id, content, author, created_at, is_deleted)
        values (null,
                #{post_id},
                #{parent_id},
                #{content},
                #{author},
                current_timestamp(),
                false)
    </insert>
    <update id="update" parameterType="Reply">
        UPDATE post_reply
        SET content = #{content}
        WHERE id = #{id}
    </update>
    <update id="delete" parameterType="Reply"> # 삭제 기능을 soft delete로 구현
    UPDATE post_reply
    SET is_deleted = true
    WHERE id = #{id}
    </update>
</mapper>