<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gatheringplatform.mapper.ReplyMapper">
    <select id="getRepliesByNumber" resultType="Reply" parameterType="Long">
        SELECT *
        FROM post_reply
        WHERE post_no = #{post_no}
        ORDER BY parent_reply_no and reply_no
    </select>
    <select id="getReplyByNumber" resultType="Reply" parameterType="Long">
        SELECT *
        FROM post_reply
        WHERE post_no = #{post_no}
          AND reply_no = #{reply_no}
    </select>
    <select id="getPostNoByNumber" resultType="Long" parameterType="Long">
        SELECT post_no
        FROM post_reply
        WHERE post_no = #{post_no}
          AND reply_no = #{reply_no}
    </select>
    <select id="getReplyNoByNumber" resultType="Long" parameterType="Long">
        SELECT reply_no
        FROM post_reply
        WHERE post_no = #{post_no}
          AND reply_no = #{reply_no}
    </select>
    <select id="getParentReplyNoByNumber" resultType="Long" parameterType="Long">
        SELECT parent_reply_no
        FROM post_reply
        WHERE post_no = #{post_no}
          AND reply_no = #{reply_no}
    </select>
    <select id="getContentByNumber" resultType="String" parameterType="Long">
        SELECT content
        FROM post_reply
        WHERE post_no = #{post_no}
          AND reply_no = #{reply_no}
    </select>
    <select id="getWriterByNumber" resultType="String" parameterType="Long">
        SELECT writer
        FROM post_reply
        WHERE post_no = #{post_no}
          AND reply_no = #{reply_no}
    </select>
    <select id="getCreatedAtByNumber" resultType="Long" parameterType="Long">
        SELECT created_at
        FROM post_reply
        WHERE post_no = #{post_no}
          AND reply_no = #{replyNo}
    </select>

    <insert id="insert" parameterType="Reply">
        INSERT INTO post_reply(post_no, reply_no, parent_reply_no, content, writer, created_at)
        values (#{post_no},
                #{reply_no},
                #{parent_reply_no},
                #{content},
                #{writer},
                current_timestamp())
    </insert>

    <update id="update" parameterType="Reply">
        UPDATE post_reply
        SET content = #{content}
        WHERE post_no = #{post_no}
          AND reply_no = #{reply_no}
    </update>

    <delete id="delete" parameterType="Reply">
        DELETE
        FROM post_reply
        WHERE post_no = #{post_no}
          AND reply_no = #{reply_no}
    </delete>
</mapper>