<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gatheringplatform.mapper.UserMapper">
    <insert id="signUp" parameterType="User">
        INSERT INTO user(no, id,pw,nickname,born,email,salt,created_at)
        values(null,
               #{id},
               #{pw},
               #{nickname},
               #{born},
               #{email},
               #{salt},
               now())
    </insert>
    <select id="getNicknameByNickname" parameterType="String" resultType="String">
        SELECT nickname
        FROM user
        WHERE nickname = #{nickname}
    </select>
    <select id="getEmailByEmail" resultType="String" parameterType="String">
        SELECT email
        FROM user
        WHERE email = #{email}
    </select>
    <select id="getIdById" resultType="String" parameterType="String">
        SELECT id
        FROM user
        WHERE id = #{id}
    </select>
</mapper>